
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.text--red {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landing__nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.name__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__name {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.nav__owner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
}

.nav__buttons {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    margin-left: 1130px;
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__btn {
    display: flex;
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 350ms ease;
}

.nav__btn:hover {
    color: red;
    scale: 1.1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    border-radius: 12px;
    background-color: transparent;
}

.landing__animation {
    height: 100vh;
}

/* About me Section */

#about__me {
    height: 100vh;
    padding: 50px 0;
}

.about__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 750;
    margin-bottom: 15px;
}

.about__subtitle {
    display: flex;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.about__benifits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.about__company {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    margin-top: 50px;
}

.about__benifits--area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__me--para {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

.about__benifits--list {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35px;
    font-size: 18px;
    margin-top: 50px;
}

.benifits--count {
    margin-bottom: 3px;
}

.about__me--picture {
    display: flex;
    margin-right: 150px;
    width: 15%;
}

/* portfolio */

#portfolio {
    height: 280vh;
}


.portfolio__title--area {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.portfolio__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.portfolio__subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.portfolio__code--lang {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
}

.lang--img {
    display: flex;
    width: 65%;
    transition: all 450ms ease;
}

.lang__img--para {
    display: flex;
    text-align: center;
    position: relative;
    opacity: 0;
    left: 60px;
}

.lang--img:hover {
    scale: 1.1;
}

.portfolio__code--project {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.project {
    display: flex;
    justify-content: center;
    list-style: none;
}

.project__btn {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-radius: 20px;
    margin-bottom: 100px;
}

.project__btn:hover {
    scale: 1.01;
    box-shadow: rgba(0, 0, 0, 0.7);
    background-color: grey;
    opacity: 0.7;
}

.project__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.project__discription {
    text-align: center;
    font-size: 14px;
}

.project__img {
    width: 90%;
}

/* contact  */

#contact {
    height: 100vh;
    margin-top: 150px;
}

.contact__containment {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
}

.contact__title--area {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact__title {
    font-size: 32px;
    font-weight: 700;
}

.contact__subtitle {
    font-size: 18px;
}

.contact__list {
    display: flex;
    flex-direction: row;
}

.contact__methods {
    list-style: none;
}

.contact__method {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
}

.contact__btn {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 450ms ease;
}

.contact__btn:hover {
    background-color: grey;
    color: red;
}

.contact__methods--container {
    display: flex;
    flex-direction: row;
    margin-top: 125px;
}

.contact__img {
    display: flex;
    width: 90%;
    margin-left: 125px;
}

/* Hours */

#hours {
    height: 100vh;
    margin-top: 150px;
}

.hour__section--container {
    display: flex;
    flex-direction: column;
}

.hours__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hours__title--true {
    font-size: 32px;
    font-weight: 700;
}

.hours__subtitle {
    font-size: 18px;
    margin-top: -15px;
}

.hours__container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.hours__img {
    width: 90%;
    margin-right: 150px;
}

.hours__days--list {
    display: flex;
    list-style: none;
}

.days__hours {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Footer */

#footer {
    height: 50vh;
    background-color: lightslategrey;
}

.footer__container--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__logo--name {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 625px;
    bottom: -15px;
}

.footer__logo {
    display: flex;
    width: 30%;
    height: 68%;
    border-radius: 150px;
}

.footer__name {
    font-size: 26px;
    font-weight: 700;
}

.footer__links {
    display: flex;
    position: relative;
    justify-content: center;
    
}

.footer__links--list {
    display: flex;
    flex-direction: column;
}

.footer__link {
    display: flex;
    list-style: none;
    font-size: 18px;
    margin-bottom: 15px;
}