
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.text--red {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.landing__nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.name__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__name {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.nav__owner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
}

.nav__buttons {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    margin-left: 1130px;
}

.nav__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__btn {
    display: flex;
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: color 350ms ease;
}

.nav__btn:hover {
    color: red;
    scale: 1.1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    border-radius: 12px;
    background-color: transparent;
}

.landing__animation {
    height: 100vh;
}

/* About me Section */

#about__me {
    height: 50vh;
    padding: 50px 0;
}

.about__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 750;
    margin-bottom: 15px;
}

.about__subtitle {
    display: flex;
    text-align: center;
    font-size: 18px;
}